[Unit]
Description=Local OCI Registry
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/registry:3.0
ContainerName=registry

PublishPort=5000:5000
Volume=/var/lib/dev-platform/registry:/var/lib/registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
